Flask==0.9
Flask-SQLAlchemy==0.16
Flask-WTF==0.8.3
Jinja2==2.6
MarkupSafe==0.18
SQLAlchemy==0.8.0
Tempita==0.5.1
WTForms==1.0.3
Werkzeug==0.8.3
argparse==1.2.1
decorator==3.4.0
itsdangerous==0.23
sqlalchemy-migrate==0.7.2
uWSGI==1.9.14
wsgiref==0.1.2
