"""
    Keeps all sensitive data out of the VCS.
"""
# wtforms CSRF
SECRET_KEY = '<output of `import os; os.random(24)`>'

# wtforms recaptca
RECAPTCHA_PUBLIC_KEY = '<your_public_key>'
RECAPTCHA_PRIVATE_KEY = '<your_private_key>'


# mail server settings
MAIL_USERNAME = '<your_email@gmail.com>'
MAIL_PASSWORD = '<your_password>'  # twostep, single use

ADMINS = [
    '<admin1@example.com>',
    '<admin2@example.com>',
    '<admin3@example.com>',
    ]

# flask-social api keys
SOCIAL_FACEBOOK = {
    'consumer_key': '<your_public_key>',
    'consumer_secret': '<your_private_key>'
    }
SOCIAL_GOOGLE = {
    'consumer_key': '<your_public_key>',
    'consumer_secret': '<your_private_key>'
    }
