<!-- extends base.html -->
{% extends "base.html" %}
{% block title %}{{page}}{% endblock %}

{% block content %}
<form id="login" action="" method="post">
    {{form.hidden_tag()}}
    <table>
        <tr>
            <td>{{form.email.label}}:</td>
            <td>{{form.email(size=10)}}</td>
            {% for error in form.errors.email %}
                <td>
                    [{{error}}]
                </td>
            {% endfor %}
        </tr>
        <tr>
            <td></td>
            <td>{{form.submit}}</td>
        </tr>
    </table>
</form>
{% endblock %}
