<!-- extends base.html -->
{% extends "base.html" %}

{% block content %}
<table id="dev" class="tableSmallCaps">
	<tr>
		<th><a href="http://homelessgaffer.com/wikitest/tikiwiki">wiki</a></th><td>wiki about bicycle tour</td>
	</tr>
	<tr>
		<th><a href="{{ url_for('unity.staticUnity', slug='battleship') }}">battleshipweb</a></th><td>first non-tiny python game being converted into a webapp.</td>
	</tr>
	<tr>
        <th>genealogy</th><td>million dollar idea</td>
	</tr>
	<tr>
		<th>firstkisses</th><td>first kisses project</td>
	</tr>
	<tr>
		<th>homelessgaffer.com</th><td>The CMS that powers this website.</td>
	</tr>
</table>
{% endblock %}
