{% extends "base.html" %}
{% from "macros.html" import render_pager with context %}
{% block content %}
    {% for item in unitySet.items %}
        <h2>
            <a href="{{ url_for('unity.staticUnity', slug=item.slug) }}">{{ item.title }}</a>
        </h2>
        <p>{{ item.body|markRight|striptags|truncate(100) }}</p>
        <p>by <a href="{{ url_for('users.profile', user_id=item.author.email) }}">{{item.author.email}}</a> | 
           {{ item.created_at.strftime('%H:%M %Y-%m-%d') }} |
           {% with total=item.comments|length %}
               {{ total }} comment {%- if total != 1 %}s{%- endif -%}
           {% endwith %}
        </p>
    {% endfor %}
    {{ render_pager(unitySet, 'unity.listUnity') }}
{% endblock %}
