{% extends "base.html" %}
{% from "macros.html" import render_pagination with context %}
{% block title %}{{pageTitle}}{% endblock %}
{% block content %}
    {% for item in unityPosts.items %}
        <h2>
            <a href="{{ url_for('unity.staticUnity', slug=item.slug) }}">{{ item.title }}</a>
        </h2>
        <p>{{ item.body|markRight|striptags|truncate(100) }}</p>
        <p>by <a href="{{ url_for('users.profile', user_id=item.author.email) }}">{{item.author.email}}</a> | 
           {{ item.created_at.strftime('%H:%M %Y-%m-%d') }} |
           {% with total=item.comments|length %}
               {{ total }} comment {%- if total != 1 %}s{%- endif -%}
           {% endwith %}
        </p>
    {% endfor %}
    {#
        {% for page in unityPosts.iter_pages() %}
            {% if page %}
                {% if page == 1 and page.has_next == False %} <!-- if only one page, don't show pages-->
                {% elif page != unityPosts.page %}
                    <a href="{{url_for('unity.listUnity', page=page)}}">{{page}}</strong><a>
                {% else %}
                    <strong>{{page}}</strong>
                {% endif %}
            {% else %}
                <p>else again </p>
            {% endif %}
        {% endfor %}
    #}
    {{ render_pagination(unityPosts, 'unity.listUnity') }}
{% endblock %}
