<!-- extends base.html -->
{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='css/resume.less') }}" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/less.js/1.4.1/less.min.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div id="resume">
<div id="resumeHeader">
    <h2 id="headerName">Cameron Dershem</h2>
    <div id="headerNotName">
        <script src="{{ url_for('static', filename='js/email_resume.js') }}">
            </script><span id="pipeseparator"> | </span>
        <a href="callto:312.361.0322">312.361.0322</a>
            <span id="pipeseparator"> | </span>
        Indianapolis, IN<br>
        <a href="{{ url_for('index')}}">homelessgaffer.com</a>
            <span id="pipeseparator"> | </span>
        <a href="http://github.com/cldershem">github.com/cldershem</a>
    </div><!--end headerNotName-->
</div><!--end resumeHeader-->
<hr class="resumeHR">
{# show if Dev #}
<div id="objective">
    <span class="sectionHeader" id="objectiveHeader"><h3>OBJECTIVE: </h3></span>
    To successfully transition careers into application development
    by obtaining an entry-level position to gain experience and
    knowledge.  Seeking new challenges and stability by
    leveraging an enthusiasm for efficiency and simplicity while
    finding and building solutions.
</div><!--end objective-->
<hr class="resumeHR">
{# endif #}
<div id="experience">
    <div class="sectionHeader">
        <h3>EXPERIENCE</h3>
    </div><!--sectionHeader-->
    <div class="jobHeader">
        <span class="jobName">MarketStar</span>
        <span class="location">Indianapolis, IN</span>
        <br>
        <span class="jobTitle">Google Specialist</span>
        <span class="dates">November 2012 &ndash; December 2012</span>
    </div><!--jobheader-->
    <ul class="jobDescription">
        <li>
            Educated guests on Google's ecosystem and products, focusing on the Google Chromebook
        </li>
	    <li>
            Answered questions involving Google and how it could better the guests' current needs
        </li>
        <li>
            Developed training methods for the continued education of colleagues
        </li>
        <li>
            Assisted guests with questions and issues&mdash;finding the answer even if it was not a Google product
        </li>
	    <li>
            Used, tested, troubleshot products, and reported bugs to the proper teams
        </li>
    </ul><!--end jobDescription-->
    <div class="jobHeader">
        <span class="jobName">Orange 20 Bikes</span>
        <span class="location">Los Angeles, CA</span>
        <br>
        <span class="jobTitle">IT Management &amp; Inventory Control</span>
        <span class="dates">October 2011 &ndash; June 2012</span>
    </div><!--jobheader-->
    <ul class="jobDescription">
	    <li>
            Designed and implemented improvements to POS and inventory control systems
        </li>
	    <li>
            Created systems to improve employee communications&mdash;greatly increasing efficiency and morale
        </li>
	    <li>
            Trained management and employees on best practices to reduce loss, save time, and save money
        </li>
    </ul><!--end jobDescription-->
    <div class="jobHeader">
        <span class="jobName">Camadeus Film Technologies, Inc</span>
        <span class="location">Los Angeles, CA</span>
        <br>
        <span class="jobTitle">Rental Agent</span>
        <span class="dates">June 2010 &ndash; September 2011</span>
    </div><!--jobheader-->
    <ul class="jobDescription">
	    <li>
            Implemented and maintained a new inventory control system&mdash;improving office and warehouse efficiency
        </li>
        <li>
            Organized and lead workshops and demonstrations to educate and train clients as well as employees
        </li>
	    <li>
            Maintained equipment regularly&mdash;troubleshooting, servicing, and reporting bugs as needed
        </li>
	    <li>
            Provided on call support by phone and on location&mdash;making sure the client could make their day 
        </li>
	    <li>
            Coordinated rentals from initial contact to delivery, invoicing, subrentals, returns, and follow ups
        </li>
    </ul><!--end jobDescription-->
    <div class="jobHeader">
        <span class="jobName">Various Motion Picture Productions</span>
        <span class="location">Chicago, IL &amp; Los Angeles, CA</span>
        <br>
        <span class="jobTitle">Freelance Gaffer &amp; Best Boy Electric</span>
        <span class="dates">June 2002 &ndash; June 2010</span>
    </div><!--jobheader-->
    <ul class="jobDescription">
	    <li>
            Controlled the look of a film through lighting techniques with direction from the Cinematographer%Director of Photography
        </li>
	    <li>
            Managed a department and crew ranging from 2&ndash;20&mdash;including personnel decisions, records, and budget
        </li>
	    <li>
            Appropriated, inventoried, serviced, and maintained equipment for the duration of the job
        </li>
	    <li>
            Analyzed electrical needs and distributed power appropriately&mdash;always keeping a safe and efficient set
        </li>
	    <li>
            Acted as liaison between the Lighting Department, Production, and all other departments
        </li>
    </ul><!--end jobDescription-->
    {# show if not Dev #}
    <div class="jobHeader">
        <span class="jobName">Columbia College Chicago</span>
        <span class="location">Chicago, IL</span>
        <br>
        <span class="jobTitle">Teacher's Assistant &amp; Projectionist</span>
        <span class="dates">August 2003 &ndash; June 2006</span>
    </div><!--jobheader-->
    <ul class="jobDescription">
        <li>
            Managed equipment rentals&mdash;including maintaining, troubleshooting, and servicing equipment as needed
        </li>
        <li>
            Answered questions from students and assisted teachers in better conveying class material
        </li>
        <li>
            Occasionally taught classes in teacher's absence
        </li>
	    <li>
            Projected film in 35mm, 16mm, and digital formats 
        </li>
    </ul><!--end jobDescription-->
    {# endif #}
</div><!--end experience-->
<hr class="resumeHR">
{# show if Dev #}
<div id="personalProjects">
    <div class="sectionHeader">
        <h3>PERSONAL &amp; PUBLIC PROJECTS</h3>
    </div><!--sectionHeader-->
    <dl id="projectList">
        <dt>Battleship &ndash;</dt>
        <dd>
            Multiplayer game written in Python&mdash;eventually to be rewritten as a web app
        </dd>
        <dt>HomelessGaffer.com &ndash;</dt>
        <dd>
            Simple CMS written in Python using Flask&mdash;deployed using git-hooks
        </dd>
    </dl>
</div><!--personalProjects-->
{# endif #}
<hr class="resumeHR">
<div id="education">
    <div class="sectionHeader">
        <h3>EDUCATION</h3>
    </div><!--sectionHeader-->
	<div class="jobHeader">
        <span class="jobName">Columbia College Chicago</span>
        <span class="location">Chicago, IL</span>
        <br>
        <span class="jobTitle">B.A. Film/Video &mdash; Cinematography Concentration</span>
        <span class="dates">2003 &ndash; 2008</span>
    </div><!--jobheader-->
</div><!--education-->
<hr class="resumeHR">
<div id="skills">
    <div class="sectionHeader">
        <h3>SKILLS &amp; INTERESTS</h3>
    </div><!--sectionHeader-->
    <div id="skillsmulticol">
        <ul id="skillsleftcol">
            <li>
                Adept in Linux, Windows, OS X, Chrome OS, Android
            </li>
            <li>
                Confident and comfortable with Python, Flask, HTML, CSS, LESS, JavaScript, <span class="latex">L<sup>a</sup>T<sub>e</sub>X</span>
            </li>
        	<li>
                Good understanding and capable of working with MySQL, MongoDB, PHP
            </li>
        	<li>
                Willingness and ability to learn new products and skills efficiently along with the patience to teach others
            </li>
        	<li>
                Strong troubleshooting skills&mdash;always focused on efficiency and finding solutions
            </li>
        	<li>
                Very capable of competently multitasking and able to keep up morale while doing just about anything
            </li>
        </ul>
        <ul id="skillsrightcol">
        	<li>
                Excellent communication skills&mdash;able to take direction as well as lead a team
            </li>
        	<li>
                Prefers Vim for editing, Git for versioning, and been an Ubuntu user since Hardy
            </li>
        	<li>
                Always reading about technologies, tinkering with gadgets, and an all around geek
            </li>
        	<li>
                Enjoys cooking and complete cast iron nerd
            </li>
        	<li>
                Passionate about cinema, cinematography, still photography&mdash;specifically lighting
            </li>
        	<li>
                Avid cyclist, wishful randonneur, and dedicated velodrome attendee
            </li>
            <li>
                Currently learning Java and attempting to learn Spanish (albeit, muy lentamente)
            </li>
        </ul>
    </div><!--end skillsmulticol-->
</div><!--end skills-->
</div><!--end resume-->
{% endblock %}
{% block sidebar %}
    <ul id="linklist">
        <li>
            <a href="http://docs.google.com">view pdf</a>
        </li>
        <li>
            <a href="http://docs.google.com">download pdf</a>
        </li>
    </ul>
{% endblock %}
