{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}
{% set page = title %}

{% block content %}
    {% for post in posts.items %}
        <h2><a href="{{ url_for('blog.singlePost', slug=post.slug) }}">{{ post.title }}</a></h2>
        <p>{{ post.body|striptags|truncate(100) }}</p>
        <p>
            by <a href="{{ url_for('users.profile', user_id=post.author.email) }}">{{post.author.email}}</a> | 
        {{ post.created_at.strftime('%H:%M %Y-%m-%d') }} |
        {% with total=post.comments|length %}
            {{ total }} comment {%- if total > 1 %}s{%- endif -%}
        {% endwith %}
        <a href="{{ url_for('blog.singlePost', slug=post.slug) }}#disqus_thread">{{post.title}}</a>
        </p>
    {% endfor %}
    <div id="pagination">
    {% if posts.has_prev %}
        <a href="{{url_for('blog.listPosts', page=posts.prev_num)}}">newer</a>
    {% endif %}
    {% for page in posts.iter_pages() %}
        {% if page %}
            {% if page == 1 and posts.has_next == False %} <!-- if only page, don't show pages-->
            {% elif page != posts.page %}
                <a href="{{url_for('blog.listPosts', page=page)}}">{{page}}</strong></a>
            {% else %}
                <strong>{{page}}</strong>
            {% endif %}
        {% else %}
            <p>else again </p>
        {% endif %}
    {% endfor %}
    {% if posts.has_next %}
        <a href="{{url_for('blog.listPosts', page=posts.next_num)}}">older</a>
    {% endif %} 
    </div> <!--pagination-->
{% endblock %}
