{% extends "base.html" %}
{% from "macros.html" import render_form with context %}
{% block title %}{{post.title}}{% endblock %}
{% set page=post.title %}

{% block content %}
    <p>{{ body }}</p>
    <hr>
    <div id="postmeta">
        <p>
            by <strong><a href="{{ url_for('users.profile', user_id=post.author.email) }}">{{ post.author.email }}</a></strong>
            <span id="pipeseparator"> | </span>posted {{ post.created_at.strftime('%H:%M %Y-%m-%d') }}
            {% if post.edited_on|length > 1 %}
                <span id="pipeseparator"> | </span>edited {{ post.edited_on[-1].strftime('%H:%M %Y-%m-%d') }}
            {% endif %}
        </p>
        {% if post.tags %}
            <p>
                <strong>tags: </strong>
	    	    {% for tag in post.tags %}
	    		    <a class="posttags" href="{{ url_for('blog.listPosts', tag=tag) }}">[{{tag}}]</a>
	    	    {% endfor %}
            </p>
	    {% endif %}
        {% if post.source %}
            <p>
                <strong>source: </strong><a href="{{ post.source }}">{{ post.source }}</a>
            </p>
        {% endif %}
    </div><!--end postmeta-->
    <h2 id="comments">Comments</h2>
    {% if post.comments %}
        {% for comment in post.comments %}
            <p class="commentbody">{{ comment.body }}</p>
            <p id="commentmeta">by <strong>{{ comment.author.get_id() }}</strong> on {{ comment.created_at.strftime('%H:%M %Y-%m-%d') }}</p>
            <hr>
        {% endfor %}
    {% endif %}
	{% if current_user.is_authenticated() == True -%}
	    <h2>Add a comment</h2>
	   	<form id="addComment" action="" method="post">
            {{ render_form() }}
	   	</form>
	   {% else %}
	   	<p><a href="{{url_for('users.login')}}">login</a> to comment.</p>
	 {% endif %}
{% endblock %}
