.jobName{font-weight: bold;}
.jobTitle{font-style:oblique;}
.jobHeaderRight{
    //float:right;
    border:1px solid red;}

/*#leftcontent {
	width: 775px;
	xfloat: left;
	padding-left: .8em;
    padding-right: .8em;
	margin: auto;
	margin-bottom: 100px;
	
    */
/*
	0px 0px 100px 0px;		
*/
	}

.likesubsectionHead {font-weight:bold;}

span.TEX {letter-spacing: -0.125em; }
span.TEX span.E{ position:relative;top:0.5ex;left:-0.0417em;}
a span.TEX span.E {text-decoration: none; }
span.LATEX span.A{ position:relative; top:-0.5ex; left:-0.4em; font-size:85%;}
span.LATEX span.TEX{ position:relative; left: -0.4em; }
