/* variables */
  @lightGreen: #68A869;
  @lightPink: #ffb6c1;
  @darkPink: #C69AA3;
  @lightGrey: #ebebeb;
  @darkGrey: #353535;
  @darkestGrey: #252525;

/* sizes */
  @mobile-max: 480px;
  @mediumScreen: 960px;
  @largeScreen: 1200px;

/* colorscheme dark */
  @backgroundColorBody: @darkestGrey;
  @backgroundColor: @darkGrey;
  @fontColor: @lightGrey;
  @linkColor: @lightPink;
  @linkHoverFontColor: @darkGrey;
  @linkHoverBackColor: @lightGrey;
  @linkVistiedColor: @darkPink;
  @navbarFontColor: @darkGrey;
  @navbarBackColor: @lightGreen;
  @navbarHoverBackColor: @lightGrey;
  @navbarHoverFontColor: @darkGrey;
  @accentColor1: @lightGreen;
  @accentColor2: @lightPink;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  }

html, body {
  height: 100%;
  margin: 0 0 0 0;
  // padding: 0 0 0 0;
  font-family: Sans-Serif;
  background-color: @backgroundColorBody;
  color: @fontColor;
  }

#bigOwrapper {
  // height: 100%;
  min-height: 100%;
  min-width: 80%;
  max-width: 80%;
  margin: 0 auto;
  border-left: 3px solid @accentColor1;
  border-right: 3px solid @accentColor1;
  background-color: @backgroundColor;

  & > * {
    padding: 0 .5em 0 .5em;
    }
  }

#allNonHeader {
  clear: both;

  a {
    &:link {
      background: @backgroundColor;
      color: @linkColor;
      }
    &:visited {
      color: @linkVistiedColor;
      }
    &:hover {
      background: @linkHoverBackColor;
      color: @linkHoverFontColor;
      }
    }
  }

header {
  a {
    &:link, &:visited {
      text-decoration: none;
      background-color: @navbarBackColor;
      color: @navbarFontColor;
      padding-left: 3px;
      padding-right: 3px;
      }

    &:hover {
      background-color: @navbarHoverBackColor;
      color: @navbarHoverFontColor;
      }

    &.currentpage {
      background-color: @accentColor2;
      }
    }

  nav {
    #hgtitle {
      font-size: 2em;
      background-color: @backgroundColor;
      color: @fontColor;

      &:hover {
        background-color: @navbarHoverBackColor;
        color: @navbarHoverFontColor;
        }
      }

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      // position: relative;
      }

    .topmenu {
      float: left;
      // display: inline;
      border-right: 2px solid @backgroundColor;

      &:first-of-type {
        // border-left: 2px solid @backgroundColor;
        }
      &:last-of-type {
        border-right: none;
        }
      }

    .topmenu:hover > .submenu {
      display: block;
      }

    .submenu {
      display: none;
      position: absolute;

      li {
        border-bottom: 1px solid @backgroundColorBody;

        &:first-of-type {
          border-bottom: 1px solid @backgroundColorBody;
          }
        &:last-of-type {
          border-bottom: none;
          }
        }
      }
    }
  }

#leftcontent {
  width: 80%;
  // height: 100%;
  float: left;
  // margin: 0 0 0 0;
  }

#sidebar {
  // margin-left: 75%;
  // height: 100%;
  width: 20%;
  float: right;
  }

h1, h2, h3 {
  font-weight: bold;
  color: @accentColor2;
  margin: 0;
  padding: 0;
  }

hr {
  height: 1px;
  border: none;
  color: @accentColor1;
  background-color: @accentColor1;
  margin: 0 0 0 0;
  // padding: 0 0 0 0;
  }

footer {
  // border-top: 1px solid @accentColor1;
  margin-top: 100px;
  padding: 0 0 1px 0;
  font-size: 75%;
  clear: both;
  }
