<!-- extends base.html -->
{% extends "base.html" %}
{% block title %}{{page}}{% endblock %}

{% block content %}
<table id="contactinfo">
	<tr>
		<th><a href="http://homelessgaffer.com/wikitest/tikiwiki">wiki</a></th><td>wiki about bicycle tour</td>
	</tr>
	<tr>
		<th><a href="{{ url_for('static_page.staticPage', slug='battleship') }}">battleshipWeb</a></th><td>first medium python game turned into a lesson in javascript, kinetic.js, and canvas.</td>
	</tr>
	<tr>
		<th>genealogy</th><td>million dollar idea</td>
	</tr>
	<tr>
		<th>firstkisses</th><td>first kisses project</td>
	</tr>
</table>
{% endblock %}
