<!DOCTYPE HTML>
<html>
    <head>
        <title>hg-{% block title %}{{pageTitle}}{% endblock %}</title>
        <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='css/style.less') }}" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">
        <script src="http://cdnjs.cloudflare.com/ajax/libs/less.js/1.4.1/less.min.js" type="text/javascript"></script>
        {% block head %}{% endblock %}
        {% from 'macros.html' import render_navbar %}
    </head>
    <body>
        <div id="bigOwrapper">
            <header>
                <nav>
                    <a id="hgtitle" href="/index"><span id="tilde">~/</span>hg/</a>
                    <ul>
                        <li class="topmenu">
                            <a {%- if pageTitle == 'blog' %} class="currentpage" {% endif %} href="/unity/blog">blog</a>
                            <ul class="submenu">
                                <li>
                                    <a {%- if pageTitle == 'food' %} class="currentpage" {% endif %} href="/unity/listposts/tag/food">food</a>
                                </li>
                                <li>
                                    <a {%- if pageTitle == 'bike' %} class="currentpage" {% endif %} href="/unity/listposts/tag/bike">bike</a>
                                </li>
                            </ul>
                        </li>
                        <li class="topmenu">
                            <a {%- if pageTitle == 'dev' %} class="currentpage" {% endif %} href="/unity/dev">dev</a>
                            <ul class="submenu">
                                <li>
                                    <a {%- if pageTitle == 'battleship' %} class="currentpage" {% endif %} href="/unity/battleship">battleship</a>
                                </li>
                            </ul>
                        </li>
                        <li class="topmenu">
                            <a {%- if pageTitle == 'about' %} class="currentpage" {% endif %} href="/unity/about">about</a>
                            <ul class="submenu">
                                <li>
                                    <a {%- if pageTitle == 'resume' %} class="currentpage" {% endif %} href="/unity/resume">resume</a>
                                </li>
                                <li>
                                    <a {%- if pageTitle == 'contact' %} class="currentpage" {% endif %} href="/unity/contact">contact</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </header>
            <div id="allNonHeader">
                <div id="pageTitle">
                    <h1>{{pageTitle or "UPDATE ME!!!!"}}</h1>
                </div>
                <div id="leftcontent">
                    <div id="flashMessage">
                        {%- with messages = get_flashed_messages() -%}
                            {%- if messages -%}
                                <ul>
                                    {%- for message in messages -%}
                                        <li>{{ message }}</li>
                                    {%- endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}
                    </div>
                {% block content %}
                {% endblock %}
                </div><!--end leftcontent-->
                <div id="sidebar">
                    {% block sidebar %}
                    {% endblock %}
                </div><!--end sidebar-->
            <footer>
                <p>
                    this is the footer to this page.  it is copycentered.
                </p>
                {% block footer %}
                {% endblock %}
            </footer>
            </div><!--end allNonheader-->
        </div><!--end #bigOwrapper-->
    </body>
</html>
