<!DOCTYPE HTML>
<html>
    <head>
        <title>hg-{% block title %}{% endblock %}</title>
        <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='css/style.less') }}" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">
        <script src="http://cdnjs.cloudflare.com/ajax/libs/less.js/1.4.1/less.min.js" type="text/javascript"></script>
        {% block head %}{% endblock %}
    </head>
    <body>
        <div id="allcontent">
            <header>
                <h1 id="hgtitle"><a href="{{ url_for('index') }}">homelessgaffer.com/</a><span id="page">{{page}}</span></h1>
                <nav>
                    <ul id="navbar">
                        {% set navBar = ["food", "bike", "resume", "dev", "about", "contact"] %}
                        {% for navButton in navBar -%}
                            <li {% if page == navButton %} class="currentpage" {% endif %}><a href="{{url_for('static_page.staticPage', slug=navButton)}}">{{navButton}}</a></li>
                        {%- endfor -%}
                        {% if current_user.is_anonymous() == True -%}
                            <li {% if page == "login" %} class="currentpage" {% endif %} id="navbarlogin"><a href="{{ url_for('users.login') }}">login</a></li>			    
                        {% else -%}
                            <li id="navbarlogin">
                                <a href="{{ url_for('users.profile', user_id=current_user.email) }}">profile</a>
                            </li>
                            <li id="navbarlogin">
                                <a href="{{ url_for('users.logout') }}">logout</a>
                            </li>
                        {% endif -%}           
                    </ul>
                </nav>
            </header>
            <div id="main">
                <div id="leftcontent">
                    <div id="flashMessage">
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <ul>
                                    {% for message in messages %}
                                        <li>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}
                    </div>
                {% block content %}
                {% endblock %}
                </div><!--end leftcontent-->
            <div id="sidebar">
                {% block sidebar %}
                {% endblock %} 
            </div><!--end sidebar-->
            </div><!--end main-->
            <footer>
                <p>
                    this is the footer to this page.  it is copycentered.
                </p>
            </footer>
        </div><!--end #allcontent-->
    </body>
</html>
