<!-- extends base.html -->
{% extends "base.html" %}
{% block title %}root{% endblock %}
{% set page = 'root' %}
{% set headerImg = url_for('static', filename='img/spotlight-400x67.jpg') %}

{% block content %}
		<h2>
			it would be great if i had content.
		</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec justo massa, 
			condimentum a rutrum a, sollicitudin ut quam. Phasellus dictum velit vel lorem 
			feugiat fringilla. Aliquam erat volutpat. Sed eu ligula neque. Vestibulum 
			condimentum lobortis nisl ut pharetra. Fusce facilisis elit ut nibh tristique at 
			dictum turpis bibendum. Proin luctus porttitor pretium. Etiam vitae nulla urna, 
			luctus iaculis magna. Curabitur nunc augue, accumsan sed suscipit et, viverra congue 
			sem. Phasellus interdum magna eu mi euismod pretium. Quisque in vestibulum tortor. 
			Aenean laoreet est sed purus ultrices feugiat. Maecenas dui nunc, tincidunt ut mollis 
			quis, mollis nec lorem. Curabitur in mauris ante. Nunc iaculis posuere arcu eget 
			luctus. Aenean pulvinar facilisis arcu, quis egestas nulla venenatis in. 
			Pellentesque vitae luctus nulla. Duis quam libero, interdum egestas pharetra 
			vel, tempor nec turpis. Sed mauris tortor, auctor ut ultricies sed, lacinia quis mi.
			
			<a href="google.com">this is a link</a>
		</p>
{% endblock %}
