{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}
{% set page = title %}

{% block content %}
    {% for post in posts %}
        <h2><a href="{{ url_for('singlePost', slug=post.slug) }}">{{ post.title }}</a></h2>
        <p>{{ post.body|striptags|truncate(100) }}</p>
        <p>
            by <a href="{{ url_for('profile', user=post.author.email) }}">{{post.author.email}}</a> | 
        {{ post.created_at.strftime('%H:%M %Y-%m-%d') }} |
        {% with total=post.comments|length %}
            {{ total }} comment {%- if total > 1 %}s{%- endif -%}
        {% endwith %}
        </p>
    {% endfor %}
{% endblock %}
