<!-- extends base.html -->
{% extends "base.html" %}
{% block title %}login{% endblock %}
{% set page = 'login' %}

{% block content %}
<form id="login" action="" method="post">
    {{form.hidden_tag()}}
    <table>
        <tr>
            <td>{{form.email.label}}:</td>
            <td>{{form.email(size=10)}}</td>
            {% for error in form.errors.email %}
                <td>
                    [{{error}}]
                </td>
            {% endfor %}
        </tr>
        <tr>
            <td>{{form.password.label}}:</td>
            <td>{{form.password(size=10)}}</td>
            {% for error in form.errors.password %}
                <td>
                    [{{error}}]
                </td>
            {% endfor %}
        </tr>
        <tr>
            <td>{{form.remember_me.label}}:</td>
            <td>{{form.remember_me(size=10)}}</td>
            {% for error in form.errors.remember_me %}
                <td>
                    [{{error}}]
                </td>
            {% endfor %}
        </tr>
        <tr>
            <td></td>
            <td>{{form.submit}}</td>
        </tr>
        <tr>
            <td></td>
            <td>or <a href="{{ url_for('register') }}">register</a></td>
        </tr>
        <tr>
            <td></td>
            <td>or <a href="{{ url_for('forgotPassword') }}">Forgot Password</a></td>
        </tr>
    </table>
</form>
{% endblock %}
