{% macro render_form(formID) %}
<form id={{formID}} action="" method="post">
{{form.hidden_tag()}}
    {%  for field in form if field.widget.input_type != 'hidden' %}
        {% if field.type == 'TextField' or
            field.type == 'PageDownField' or
            field.type == 'TextAreaField' %}
            {{field.label}}
                {% for error in field.errors %}
                    <span class="formError">
                        [{{error}}]
                    </span>
                {% endfor %}</br >
            {% if field.id == 'body' or field.id == 'content' %}
                {{field(rows=20,cols=40)}}
            {% else %}
                {{field}}
            {% endif %}</br>
        {% elif field.id == 'submit' %}
            {{field}}</br>
        {% else %}
            {{field.label}}
            {{field}}</br>
        {% endif %}
    {% endfor %}
</form>
{% endmacro %}
